.amazing {
  width: 100%;
  height: 500px;
  background: url("../img/amaz-bg.png") center no-repeat;
  background-size: cover;

  &__box {
    padding: 100px;
    text-align: center;

    @include sm {
      padding: 100px 50px;
    }
  }

  &__title {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 30px;

    @include sm {
      font-size: 60px;
    }

    @include xs {
      font-size: 35px;
    }
  }

  &__down {
    padding: 20px;
    width: 100%;
    background: #171819;
  }
}
