// COLORS
:root {
  --color-black: #000;
  --color-white: #fff;
  --color-gray: #858585;
  --quill-gray: #e5e5e3;
  --river-bed: #48555B;
  --color-cerulean: #00A4E5;
  --color-woodsmoke: #171819;
  --color-bunker: #141A20;
}
